$rosa-oscuro: rgb(208, 7, 91);
$purpura: rgb(71, 0, 109);
$celeste: rgb(171, 238, 254);

body {
    text-align: center;
    background-color: rgb(133, 148, 227);
    header {
        font-size: larger;
        color: $rosa-oscuro;
    }
    main {
        #alimentar {
            display: inline-block;
            background-color: $rosa-oscuro;
            border-width: 0;
            margin: 10px;
            color: $celeste;
            height: 40px;
            width: 100px;
            border-radius: 30px;
        }
        .container {
            display: flex;
            align-content: center;
            justify-content: center;
            #energia {
                margin-right: 50px;
            }
            #puntos {
                margin-left: 50px;
            }
        }
        .container-tarea {
            display: inline-block;
            margin-left: 50px;
            margin-right: 50px;
            vertical-align: top;
        }
        h3, h2 {
            color: $rosa-oscuro;
        }
        div {
            display: inline-block;
            text-align: start;
            ul {
            color: $purpura
            }
        }
        #listo {
            background-color: $rosa-oscuro;
            border-width: 0;
            margin: 10px;
            color: $celeste;
            height: 30px;
            width: 80px;
            border-radius: 20px;
        }
        form {
            label {
                color: $purpura;
            }
            input {
                background-color: $celeste;
                border-width: 0;
                height: 25px;
                width: 150px;
                border-radius: 10px;
            }
        }
    }
}

.foto-gatito {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}